/JavaApplication5/nbproject/private/
/Snake/nbproject/private/
/ScinetificMath/nbproject/private/
/ScinetificMath/build/
/MyClock/nbproject/private/
/MyClock/build/
/Playing_with_Graphics/nbproject/private/
/Playing_with_Graphics/build/